
:root {
    --control-buttons: #ecf081;
    --control-hover: #F4F7AC;
    --control-click: #DFCF40;
}


input[type='range'] {
    overflow: hidden;
    border-radius: 2rem;
    appearance: none;
    -webkit-appearance: none;
    background-color: var(--control-hover);
}

input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    margin-top: -1px;
  }
  
  input[type='range']::-webkit-slider-thumb {
    width: 5%;
    -webkit-appearance: none;
    height: 10px;
    cursor: pointer;
    box-shadow: -80px 0 0 80px var(--control-click);
  }


  
#player-div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    margin: 66vh 73vw;
    position: fixed;
}

#volume-control::-webkit-slider-thumb{
    background-color: var(--control-buttons);
}

#volume-icon{
    color: var(--control-buttons)
}

#volume-icon:hover {
    cursor: pointer;
    color: var(--control-hover);
}

#volume-icon:active {
    color: var(--control-click);
}

/* 
.control:hover{
    cursor: pointer;
    color: var(--bacground-color);
    transform: translateY(-3px);
    transition-duration: 400ms;
}

.control:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.control{
    animation: moveInBottom 2s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(7px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
} */