:root {
    --button-color: #b6b6b6;
    /* --select-color: #646464; */
}

#sounds {
    display: flex;
    justify-content:space-around;
    align-items: flex-end;
}

.sound {
    color: var(--button-color);
    border: #b6b6b6 1px solid;
    font-size: 1.4vw;
    padding: 4%;
    border-radius: 4em;
    width: 1.3vw;
    height: 1.3vw;
    
}


