@import url('https://fonts.googleapis.com/css2?family=Fuggles&family=Homemade+Apple&family=Nothing+You+Could+Do&family=Reenie+Beanie&family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fuggles&family=Homemade+Apple&family=Reenie+Beanie&family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

:root {
    --background-color: #19232e;
    --primary-color: #637483;
    --primary-color-lighter: #7a8ea0;
    --secondary-color: #50606e;
    --text-color: #1f2f3e;
    --scrollbar-thumb-hover: #374858;
    --scrollbar-thumb-active: #283949;
    --scrollbar-track: #72889b;
    --playlist-dark-color: #040d17;
    --playlist-light-color: #192c40;
    --playlist-names: #afafaf;
    --scrollbar-thumb-playlist-hover: #0a1d33;
    --scrollbar-track-playlist: #30475f;
}

.sunset-theme {
    --background-color: #c2a195;
    --primary-color: #e5cbc1;
    --primary-color-lighter: #f0d5cb;
    --secondary-color: #b69282;
    --text-color: #9e7766;
    --scrollbar-thumb-hover: #aa7e6f;
    --scrollbar-thumb-active: #926a5d;
    --scrollbar-track: #d1ab9e;
    --playlist-dark-color: #6f5046;
    --playlist-light-color: #90695c;
    --playlist-names: #e5cbc1;
    --scrollbar-thumb-playlist-hover: #7c584c;
    --scrollbar-track-playlist: #aa7e6f;
}

.winter-theme {
    --background-color: #918daf;
    --primary-color: #b7b3d3;
    --primary-color-lighter: #d0cce9;
    --secondary-color: #6e6a92;
    --text-color: #464366;
    --scrollbar-thumb-hover: #59567c;
    --scrollbar-thumb-active: #464366;
    --scrollbar-track: #a39ebe;
    --playlist-dark-color: #292b51;
    --playlist-light-color: #4c4e78;
    --playlist-names: #a39ebe;
    --scrollbar-thumb-playlist-hover: #383b5f;
    --scrollbar-track-playlist: #6e6a92;
}


* {
    margin: 0;
    padding: 0;
}

canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    filter: blur(2px);
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: var(--background-color);
}

 #container-site {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 100vh;
    height: 100vh;
}

/* ------------todo list list and background sounds ------------- */
#left-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 90% 10%;
    align-items: center;
    justify-items: center;
    margin: 10%;
}

#todo-list-section {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    background-color: var(--primary-color);
}

form {
    display: grid;
    grid-template-columns: 85% 15%;
    justify-content: center;
    align-items: center;
}

#taskname {
    padding: 2% 7%;
    font-size: 1vw;
    border: 2px solid var(--secondary-color);
    border-radius: 0.5rem;
    margin-left: 10%;
    background-color: transparent;
    color: var(--text-color);
}

#taskname:focus {
    outline: none;
}

#tasksection {
    padding: 8%;
    overflow-y: auto;
}

::-webkit-input-placeholder { 
    color: var(--secondary-color); 
    font-size: 1.1vw;
} 
::-moz-placeholder { 
    color: var(--secondary-color); 
    font-size: 1.1vw;
}

h1 {
    font-size: 2.5VW;
    grid-column: 1 / span 2;
    text-align: center;
    padding: 5%;
    color: var(--text-color);
}

p.task-name{
    font-size: 1.1vw;
    margin: 0% 3%;
    width: 100%;
    color: var(--text-color);
    font-weight:500;
}

.container-task {
    display: flex;
    margin: 3vh 0vw;
    padding: 0 5% 7% 5%;
    overflow-wrap: break-word;
    border: solid var(--secondary-color) ;
    border-width: 0 0 2px 0;
}

.container-task:first-child {
    margin: 0;
    overflow-wrap: break-word;
}

i {
    padding: 0% 2%;
    font-size: 1.2vw;
    color: var(--text-color);
    cursor: pointer;
}

#newtaskbutton {
    font-size: 2.4vw;    
}

#newtaskbutton:hover {
    color: var(--scrollbar-thumb-playlist-hover);
}

#newtaskbutton:active {
    color: var(--playlist-dark-color);
}

.checked {
    text-decoration: line-through;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    height: 1.4vw;
    width: 2vw;
    margin-right: 2%;
    background-color: var(--primary-color);
    border: 2px var(--secondary-color) solid;
    border-radius: 0.2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    overflow: hidden;
}

input[type="checkbox"]:after {
    font-family: "Font Awesome 6 Free";
    content: "\f00c";
    font-weight: 900;
    font-size: 1.5vh;
    color: var(--primary-color);
    background-color: var(--text-color);
    display: none;
}

input[type="checkbox"]:hover{
    background-color: var(--primary-color);
}

input[type="checkbox"]:checked{
    border-color: var(--text-color);
    background-color: var(--text-color);
}

input[type="checkbox"]:checked:after{
    display: block;
}

#tasksection::-webkit-scrollbar {
    width: 0.7vw;
}

#tasksection::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    border-radius: 4px;
}

#tasksection::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

#tasksection::-webkit-scrollbar-thumb:active {
    background: var(--scrollbar-thumb-active);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

#tasksection::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
    border-radius: 4px;
}

.change {
    padding-left: 4%;
    font-family: 'Quicksand', sans-serif;
    border: none;
    background-color: var(--primary-color-lighter);
    border-radius: 0.5rem;
    color: var(--text-color);
    width: 80%;
    height: 3vh;
}

.change:focus {
    outline: none;
}

.accept-changes {
    display: flex;
    align-items: center;
    color: var(--background-color);
}

#sounds {
    display: flex;
    justify-content: center;
    margin-top: 17%;
}

.sound {
    color: var(--text-color);
    border: var(--text-color) 1px solid;
    font-size: 1.4vw;
    padding: 10%;
    border-radius: 4em;
    width: 1.3vw;
    height: 1.3vw;
    margin: 7%;
}

.sound:hover {
    color: var(--primary-color);
    border: var(--primary-color) 1px solid;
    transition: 0.3s ease-in-out;
}

.sound:active {
    transform: scale(0.90);
    transition: 0.1s ease-in-out;
    background-color: var(--playlist-dark-color);;
    color: var(--text-color);
    border: var(--playlist-dark-color) 1px solid;
}

.selected-sound { 
    color: var(--background-color);
    background-color: var(--text-color);
}
/* ------------background, clock and visible button ------------- */
#background {
    display: grid;
    grid-template-rows: 10% 85% 5%;
    align-items: center;
    justify-content: center;
}

#background-img {
    height: 90%;
    width: 100%;
}

.clock {
    font-size: 3vw;
    color: var(--primary-color);
}

#reloj {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}

/* ------------ playlist section ------------- */
#widget {
    display: grid;
    grid-template-rows: 40% 60%;
    margin: 10% 20%;
}

.hidden {
    visibility: hidden;
}

/* ----------------- animation backgraound ------------------ */
#animation{
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}

#flyme {
    width: 100vw;
    height: 100vh;
}

#hide:hover, #change-color:hover {
    color: var(--primary-color);
}

#hide:active, #change-color:active {
    color: var(--playlist-dark-color);
}

.middle {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.hide-container {
    display: none;
}

/* tablet responsive design */
@media screen and (max-width: 960px){
    #container-site {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
    }

    #left-container {
        display: grid;
        grid-template-rows: 90% 10%;
        margin: 10%;
        margin-bottom: 0;    
    }

    #todo-list-section {
        width: 100%;
        height: 100%;
    }

    #background {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
    }

    i {
        padding: 0% 2%;
        font-size: 1.7vw;
        color: var(--text-color);
        cursor: pointer;
    }
    
    #sounds{
        margin: 0;
        margin-top: 8%;
    }

    #newtaskbutton {
        font-size: 3vw;
    }

    p {
        font-size: 1.7vw;
    }

    input[type="checkbox"] {
        height: 2.1vw;
        width: 3vw;
    }

    #widget {
        display: flex;
        margin: 0;
        margin: 10%; 
    }

    #background {
        display: grid;
        grid-template-rows: 20% 60% 20%;
        margin-right: 10%;
    }

    #background-img {
        height: 100%;
        width: 100%;   
    }
    
    #canva {
        height: 100%;
    }

    .clock {
        display: grid;
        justify-content: center;
        align-self: center;
        font-size: 5vw;
    }
}

@media screen and (max-width:425px){
    .sound {
        display: none;
    }

    #container-site {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    #right-container {
        height: 20%;
    }

    #background {
        margin: 0;
        height: 75%;
    }

    #widget{
        margin: 10%;
        margin-top: 0;
    }
    
    #reloj {
        margin-top: 10%;
        display: grid;
        grid-template-columns: 95% 5%;
        flex-direction:row-reverse; 
    }

    .clock {
        grid-row-start: 1;
        grid-row-end: 2;
        justify-self: center;
        font-size: 1.5rem;
    }

    #todo-list-button {
        display: grid;
        grid-column-start: 2;
        grid-column-end: 3;
        font-size: 3vh;
    }

    .show {
        display: grid;
        position: absolute;
        z-index: 2;
    }

    #tasksection {
        padding: 8%;
        overflow-y: auto;    
    }

    .container-task {
        overflow-wrap: break-word;
    }

    #todo-list-section {
        height: 40vh;
    }

    h1 {
        font-size: 1.2rem;
    }

    p.task-name {
        font-size: 1rem;
    }

    ::-webkit-input-placeholder { 
        color: var(--secondary-color); 
        font-size: 2.5vw;
    }

    ::-moz-placeholder { 
        color: var(--secondary-color); 
        font-size: 2.5vw;
    }

    #taskname {
        padding: 3%;
        font-size: 1rem;
        border-radius: 0.3rem;
    }
    
    #newtaskbutton {
        font-size: 6vh;
    }

    .icon-control{
        font-size: 6vw;
    }
    
    input[type="checkbox"] {
        height: 3vh;
        width: 4vh;
    }

    .change {
        font-size: 2.5vh;
    }

    #hide {
        font-size: 2.5vh;
    }

    #change-color {
        font-size: 2.5vh;
    }

    .delete-button {
        font-size: 1rem
    }

    .edit-button {
        font-size: 1rem
    }
}
